<?xml version="1.0" encoding="UTF-8"?>
<!--设置log4j2的自身log级别为warn -->
<configuration status="info">

    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
        </console>

        <RollingFile name="RollingFileInfo" fileName="info.log"
                     filePattern="${sys:user.dir}/logs/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="DEBUG"/>
                <ThresholdFilter level="WARN" onMatch="DENY"
                                 onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="[%d{mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>

        <!-- <RandomAccessFile name="RandomAccessFile" fileName="asyncWithLocation.log"
                           immediateFlush="false" append="true">
             <PatternLayout>
                 <Pattern>[%t] - %m%n</Pattern>
             </PatternLayout>
         </RandomAccessFile>-->

    </appenders>

    <loggers>
        <!-- <AsyncLogger name="asynLogger" level="trace"
            includeLocation="true">
            <AppenderRef ref="RandomAccessFile" />
        </AsyncLogger> -->
        <Root level="warn" includeLocation="true">
            <AppenderRef ref="RollingFileInfo"/>
            <AppenderRef ref="Console"/>
        </Root>
    </loggers>

</configuration>
